x-node: &node-defaults
  build: .
  environment: &node-env
    APP_CONSENSUS_TYPE: raft
    APP_LOG_LEVEL: info
    APP_GRPC_ADDR: :8080
    APP_DATA_DIR: /var/node
    APP_PEERS: node-1=node-1:8080,node-2=node-2:8080,node-3=node-3:8080,node-4=node-4:8080,node-5=node-5:8080
    APP_SNAPSHOT_EVERY: 100

services:
  node-1:
    <<: *node-defaults
    environment:
      <<: *node-env
      APP_NODE_ID: node-1
    ports:
      - "8081:8080"
    volumes:
      - node-1-data:/var/node

  node-2:
    <<: *node-defaults
    environment:
      <<: *node-env
      APP_NODE_ID: node-2
    ports:
      - "8082:8080"
    volumes:
      - node-2-data:/var/node

  node-3:
    <<: *node-defaults
    environment:
      <<: *node-env
      APP_NODE_ID: node-3
    ports:
      - "8083:8080"
    volumes:
      - node-3-data:/var/node

  node-4:
    <<: *node-defaults
    environment:
      <<: *node-env
      APP_NODE_ID: node-4
    ports:
      - "8084:8080"
    volumes:
      - node-4-data:/var/node

  node-5:
    <<: *node-defaults
    environment:
      <<: *node-env
      APP_NODE_ID: node-5
    ports:
      - "8085:8080"
    volumes:
      - node-5-data:/var/node

volumes:
  node-1-data:
  node-2-data:
  node-3-data:
  node-4-data:
  node-5-data:
